<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="ASYNCDB-TCK" verbose="1">
  <test name="MySQL-JDBC">
    <parameter name="jdbcUrl" value="jdbc:mysql://10.100.216.147/asyncdb?characterEncoding=UTF-8" />
    <parameter name="url" value="asyncdb:jdbc:mysql://10.100.216.147/asyncdb?characterEncoding=UTF-8" />
    <parameter name="user" value="root" />
    <parameter name="password" value="UJ9FeAm3Yc@#E%IH8dLj6guyr5K&amp;u#J3" />
    <parameter name="setupClass" value="com.ly.train.flower.db.tck.InitMysql" />
    <parameter name="connectionPool" value="false" />
    <packages>
      <package name="com.ly.train.flower.db.tck.test" />
    </packages>
  </test>
  <test name="MySQL">
    <parameter name="jdbcUrl" value="jdbc:mysql://10.100.216.147/asyncdb?characterEncoding=UTF-8" />
    <parameter name="url" value="asyncdb:mysql://10.100.216.147/asyncdb" />
    <parameter name="user" value="root" />
    <parameter name="password" value="UJ9FeAm3Yc@#E%IH8dLj6guyr5K&amp;u#J3" />
    <parameter name="setupClass" value="com.ly.train.flower.db.tck.InitMysql" />
    <parameter name="connectionPool" value="false" />
    <packages>
      <package name="com.ly.train.flower.db.tck.test" />
    </packages>
  </test>
  <test name="MySQL-ConnectionPool">
    <parameter name="jdbcUrl" value="jdbc:mysql://10.100.216.147/asyncdb?characterEncoding=UTF-8" />
    <parameter name="url" value="asyncdb:mysql://10.100.216.147/asyncdb" />
    <parameter name="user" value="root" />
    <parameter name="password" value="UJ9FeAm3Yc@#E%IH8dLj6guyr5K&amp;u#J3" />
    <parameter name="setupClass" value="com.ly.train.flower.db.tck.InitMysql" />
    <parameter name="connectionPool" value="true" />
    <packages>
      <package name="com.ly.train.flower.db.tck.test" />
    </packages>
  </test>
  <test name="H2-JDBC">
    <parameter name="jdbcUrl" value="jdbc:h2:tcp://localhost:14242/asyncdb;MVCC=TRUE" />
    <parameter name="url" value="asyncdb:jdbc:h2:tcp://localhost:14242/asyncdb;MVCC=TRUE" />
    <parameter name="user" value="asyncdb" />
    <parameter name="password" value="asyncdb" />
    <parameter name="setupClass" value="com.ly.train.flower.db.tck.InitH2" />
    <parameter name="connectionPool" value="false" />
    <packages>
      <package name="com.ly.train.flower.db.tck.test" />
    </packages>
  </test>
  <test name="H2-ASYNCDB">
    <parameter name="jdbcUrl" value="jdbc:h2:tcp://localhost:14242/asyncdb;MVCC=TRUE" />
    <parameter name="url" value="asyncdb:h2://localhost:14242/asyncdb;MVCC=TRUE" />
    <parameter name="user" value="asyncdb" />
    <parameter name="password" value="asyncdb" />
    <parameter name="setupClass" value="com.ly.train.flower.db.tck.InitH2" />
    <parameter name="connectionPool" value="false" />
    <packages>
      <package name="com.ly.train.flower.db.tck.test" />
    </packages>
  </test>
  <test name="H2-ASYNCDB-Connection-Pool">
    <parameter name="jdbcUrl" value="jdbc:h2:tcp://localhost:14242/asyncdb;MVCC=TRUE" />
    <parameter name="url" value="asyncdb:h2://localhost:14242/asyncdb;MVCC=TRUE" />
    <parameter name="user" value="asyncdb" />
    <parameter name="password" value="asyncdb" />
    <parameter name="setupClass" value="com.ly.train.flower.db.tck.InitH2" />
    <parameter name="connectionPool" value="true" />
    <packages>
      <package name="com.ly.train.flower.db.tck.test" />
    </packages>
  </test>
</suite>